.CONTENEDOR{
    width: 1280px;
    height: 800px;
    background-color: #1eaaf1;
    margin: auto;
}
header{
    width: 1280px;
    height: 200px;
    background-color: #e2202c;
}
nav{
    width: 250px;
    height: 600px;
    background-color: #358736;
}
main{
    width: 1030px;
    height: 600px;
    background-color: #fee94e;
    margin-left: 250px;
    margin-top: -600px;
}
